* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    position: relative;
}

.wrapper .slider-outer {
    height: 100%;
    width: 100%;
    display: flex;
}

.slider-outer .slider-item {
    width: 20%;
    height: 100%;
    position:absolute;
    transform-style: preserve-3d;
    transform: rotate(0deg);
    transition: all 1s;
    display: flex;

}

.img {
    flex: 1 1 auto;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
}

.slider-item .img:nth-child(1) {
    background: url("../img/slide1.jpg") no-repeat;
    background-size: cover;
    transform: rotateX(0deg) translateZ(180px);
}

.slider-item .img:nth-child(2) {
    background: url("../img/slide2.jpg") no-repeat;
    background-size: cover;
    transform: rotateX(90deg) translateZ(180px);
}

.slider-item .img:nth-child(3) {
    background: url("../img/slide3.jpg") no-repeat;
    background-size: cover;
    transform: rotateX(180deg) translateZ(180px);
}

.arrow {
    top: 103%;
    width: 100%;
    position: absolute;
    font-size: 20px;
    text-align: center;
}

.prev,
.next {
    width: 100px;
    height: 50px;
    background-color: rgba(21, 21, 21, 0.3);
    display: inline-block;
    line-height: 50px;
    color: #ffffff;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}