ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.article-title {
    margin: 2em 0;
}

.articleTitleLeft {
    /*padding: 0 2em;*/
    padding: 0 0 0 2em;
    /*border: 1px solid black;*/
}

.articleTitleLeft h4 {
    padding: 0 2em;
    color: #888;
    font-size: 25px;
    font-weight: 500;
    word-break:break-all;
}

.articleTitleRight .aritcleNav {
    overflow: hidden;
}

.articleTitleRight .aritcleNav li {
    float: right;
    margin: 0 1em;
}

.articleTitleRight .aritcleNav li a {
    color: rgba(136, 136, 136, .6);
}
@media screen and (max-width: 767px) {
    .articleTitleRight {
        display: none;
    }
    .articleTitleLeft h4 {
        padding: 0;
    }
    .contentRight select{
        display: none;
    }
    .articleTitleLeft h4 {
        font-size: 19px;
    }

}
@media screen and (max-width: 959px) and (min-width: 768px){
    .articleTitleLeft h4 {
        font-size: 21px;
    }
}
@media screen and (max-width: 480px){
    .articleTitleLeft h4 {
        font-size: 15px;
    }
}
