.downItem {
    width: 100%;
    margin: 2em 0;
}
.downItem>div{
    padding: 0;
}
.downItem .iconBox {
    width: 80px;
    height: 80px;
    background-color: #2991d6;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
    float: right;
}

.downItem .iconBox a {
    color: #fff;
    line-height: 80px;
    font-size: 50px;
}
.downItem .downContent{
    padding: 0 2em;
}
.downContent a:hover{
    text-decoration: none;
}
.downContent .downTitle{
    color: #444;
}
.downContent .desc{
    color: #626262;
    font-size: 13px;
}