#myVideo{
    display: block;
    margin: 2em auto;
}
.videoTips{
    color: red;
    font-size: 15px;
    padding: 0 5em;
}
@media screen and (max-width: 767px) {
    .videoTips{
        font-size: 13px;
        padding: 0 2em;
    }
}