.slider {
    position: relative;
    width: 100%;
    height: 32em;
    overflow: hidden;
}

.img-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.img-box li a img {
    display: block;
}

.img-box li {
    float: left;
}

.btnClick {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
    height: 0;
}

.btnClick .prevBtn,
.btnClick .nextBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
    opacity: 0.5;
    cursor: pointer;
}

.btnClick .prevBtn {
    left: 0;
}

.btnClick .nextBtn {
    right: 0;
}

.btnClick .prevBtn i,
.btnClick .nextBtn i {
    display: inline-block;
    width: 15px;
    height: 24px;
}

.btnClick .prevBtn i {
    background-image: url('../img/taobao.png');
    background-position: -200px 0;
}

.btnClick .nextBtn i {
    background-image: url('../img/taobao.png');
    background-position: -200px -24px;
}

.order {
    position: absolute;
    bottom: 1em;
    width: 100%;
    height: 14px;
    text-align: center;
}

.order ul {
    display: inline-block;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 7px;
}

.order ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/*.order ul .active {*/
    /*!*background: #f40;*!*/
/*}*/









