.yieldContent{
    font-family: "Microsoft YaHei UI Light", serif;
}
.yieldItem{
    padding: 2em 0;
    border-bottom: .04em solid  #2991d6;
}
.yieldItem .yieldLeft {
    /*border: 1px solid black;*/
    display: flex;
}
.yieldItem:nth-last-child(1){
    border: none;
}
.yieldItem .yieldRight {
    /*border: 1px solid black;*/

}
.yieldLeft .yieldIcon{
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    align-self: center;
}
.yieldLeft .yieldIcon i{
    font-size: 50px;
    line-height: 110px;
    color:  #2991d6;
}
.yieldContent .yieldItem:hover .yieldLeft .yieldIcon i{
    color: #fff;
}
.yieldContent .yieldItem:hover .yieldLeft .yieldIcon{
    background-color: #2991d6;
}
.yieldRight .yieldTitle{
    color:#444;
    font-weight: 300;
}
.yieldRight .yieldCon{
    color: #626262;
    font-size: 15px;
    font-weight: 600;

}
@media screen and (max-width: 992px){
    .yieldRight .yieldCon{
        font-size: 13px;
    }
}

@media screen  and (max-width: 767px) {
    .yieldRight .yieldTitle{
       text-align: center;
    }
    .yieldRight .yieldCon{
        text-align: center;
    }
}